{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- //section-title -->

<main role="main" class="container">

	<div class="starter-template">

		<div class="extra-icon-text text-right">
			{% for i in context %}


			<div class="features-icon text-center">

				<i class="orange-gred ti-light-bulb"></i>
			</div>
			<div class="features-text pt25">
				<div class="features-text-title text-right pb10">


					<h3 class="deep-black text-center">{{ i.post_title }}</h3>
				</div>
				<div class="features-text text-right">
					<span>{{ i.post_content|safe }}</span>
				</div>
			</div>
		</div>
	</div>



	{% endfor %}

</main>

<!-- comments ============================================= -->


<div class="container">
	<section style="background-color: #eee;">
		<div class="container my-5 py-5">
			<div class="row d-flex justify-content-center">
				<div class="col-md-12 col-lg-10 col-xl-8">
					<div class="card">
						<div class="container">
							{% for i in comment %}

							<img class="rounded-circle shadow-1-strong me-3"
								src="img/Photos/Avatars/img%20({{ forloop.counter  }}).webp" alt="avatar" width="60"
								height="60" />

							<ul class="list-inline">
								<li><a href="#">{{ i.author_name }}</a></li>
								<li><a href="#">Shared publicly - {{ i.date }}</a></li>
								<p><a href="#">{{ i.content }}</a></p>
								<li><a href="#">{{ i.author_ip }}</a></li>
							</ul>

							{% endfor %}

							<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
								<div class="d-flex flex-start w-100">
									<img class="rounded-circle shadow-1-strong me-3"
										src="/img/Photos/Avatars/img%20(13).webp" alt="avatar" width="40" height="40" />

								</div>


							</div>
							<form action="" method="post">
								{% csrf_token %}
								{{ form }}
								<div class="float-end mt-2 pt-1">
									<input type="submit" value="Post comment">
								</div>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
</div>


<!-- End of comments ============================================= -->



<!-- End of some extra features ============================================= -->



{% endblock %}